@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap");
h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 1.5rem;
  text-transform: capitalize; }

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 1.375rem;
  text-transform: capitalize; }

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 1.25rem; }

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.125rem; }

p {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-image: url("../assets/img/backheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: none; }
  .header img {
    width: 100%;
    height: 3.5rem; }
  .header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none; }
    .header nav ul li {
      list-style: none;
      padding: .5rem;
      border: none;
      border-radius: 1.25rem;
      margin: .5rem;
      background-color: #9E6003;
      font-size: 1rem;
      font-family: "Roboto Slab"; }
      .header nav ul li:hover {
        transform: scale(1.2);
        background-color: #376C16; }
    .header nav ul a {
      text-decoration: none;
      color: #FFFFFF; }
      .header nav ul a:hover {
        text-decoration: underline; }

.seccionTituloUno {
  word-spacing: 4rem;
  text-align: center;
  padding: .5rem;
  background-color: #376C16; }

.seccionRecomendacionesDelMes {
  background-image: url("../assets/img/back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.containerCards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }

.containerCard1 {
  background-color: #116D5D;
  width: 20rem;
  height: 35rem;
  border-radius: 0.75rem;
  text-align: left;
  padding: 1rem;
  margin-block: margin;
  line-height: 2rem; }
  .containerCard1 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.seccionDatoDeLaSemana {
  background-color: #0C0C0C;
  width: 100%;
  height: 100%;
  padding: 2rem;
  line-height: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .seccionDatoDeLaSemana .div2 {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: none; }
    .seccionDatoDeLaSemana .div2 div {
      width: 31.25rem; }
      .seccionDatoDeLaSemana .div2 div img {
        width: 100%;
        object-fit: contain; }
  .seccionDatoDeLaSemana .div3 {
    width: 100%;
    display: flex;
    justify-content: center; }

.gridContainer {
  background-color: #0C0C0C;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 3rem 9rem 9rem 9rem 9rem 9rem 9rem;
  padding: 2rem;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .gridContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .gridContainer h2 {
    grid-column: 1/11; }
  .gridContainer .img1grid {
    grid-column: 1/5;
    grid-row: 2/5; }
    .gridContainer .img1grid:hover {
      transform: scale(1.05); }
  .gridContainer .p1 {
    grid-column: 5/9;
    grid-row: 2/3; }
    .gridContainer .p1:hover {
      transform: scale(1.05); }
  .gridContainer .img2grid {
    grid-column: 6/11;
    grid-row: 3/7; }
    .gridContainer .img2grid:hover {
      transform: scale(1.05); }
  .gridContainer .img4grid {
    grid-column: 3/6;
    grid-row: 4/6; }
    .gridContainer .img4grid:hover {
      transform: scale(1.05); }
  .gridContainer .p2 {
    grid-column: 1/5;
    grid-row: 6/7; }
    .gridContainer .p2:hover {
      transform: scale(1.05); }
  .gridContainer .img3grid {
    grid-column: 6/9;
    grid-row: 5/8; }
    .gridContainer .img3grid:hover {
      transform: scale(1.05); }

.seccionTituloPrincipal h1 {
  background-color: #376C16;
  text-align: center;
  padding: .5rem; }

.contenedorProximoDestino {
  background-image: url("../assets/img/backTuProximoDestino.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem; }
  .contenedorProximoDestino .articuloCard {
    background-color: #0C0C0C;
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: none;
    width: 30rem;
    height: 34.375rem;
    border-radius: 0.75rem;
    text-align: left;
    padding: 1rem;
    margin-block: margin;
    line-height: 2rem; }
    .contenedorProximoDestino .articuloCard img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .contenedorProximoDestino .video2 {
    width: 100%;
    display: flex;
    justify-content: center; }

.contenedorQueSonLosPueblosMagicos {
  background-image: url("../assets/img/back3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: none;
  text-align: center;
  padding: 2rem;
  margin-block: margin;
  line-height: 2rem; }
  .contenedorQueSonLosPueblosMagicos .containerLogoPueblosMagicos {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: none; }
    .contenedorQueSonLosPueblosMagicos .containerLogoPueblosMagicos div {
      width: 28.125rem;
      text-align: left; }
    .contenedorQueSonLosPueblosMagicos .containerLogoPueblosMagicos img {
      width: 100%;
      height: none;
      object-fit: contain; }
    .contenedorQueSonLosPueblosMagicos .containerLogoPueblosMagicos li {
      list-style: inside;
      color: #FFFFFF;
      font-family: "Quicksand", sans-serif;
      font-weight: normal;
      font-size: 1rem; }

.contedorAventura {
  background-image: url("../assets/img/back4.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  padding: 2rem; }
  .contedorAventura .cardAventura {
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: none;
    width: 100%;
    height: 100%;
    background-color: #116D5D;
    border-radius: 0.75rem;
    padding: 1rem; }
    .contedorAventura .cardAventura div {
      width: 31.25rem; }
    .contedorAventura .cardAventura img {
      width: 100%;
      height: none;
      object-fit: contain; }
  .contedorAventura .video3 {
    width: 100%;
    display: flex;
    justify-content: center; }

.seccionRegistrate {
  background-image: url("../assets/img/back5.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: none;
  text-align: center;
  padding: 2rem;
  margin-block: margin;
  line-height: 2rem; }
  .seccionRegistrate .form {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: 1rem; }

.footer {
  background-image: url("../assets/img/pie-de-pagina.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: none; }
  .footer img {
    width: 100%;
    height: 3rem; }
  .footer .iconosRedesSociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: 2rem; }
  .footer li {
    list-style: none; }

@media (max-width: 1024px) {
  .seccionTituloUno {
    word-spacing: 2rem; }
  .containerCard1 {
    width: 15rem; }
  .seccionDatoDeLaSemana .div2 div {
    width: 25rem; }
  .footer img {
    width: 100%;
    height: 2.5rem; } }

@media (max-width: 768px) {
  .header {
    justify-content: center; }
    .header img {
      width: 100%;
      height: 3rem; }
    .header .navBar li {
      font-size: .75rem;
      font-family: "Roboto Slab"; }
  .seccionTituloUno h1 {
    word-spacing: 1rem;
    font-size: 1.375rem; }
  .seccionRecomendacionesDelMes {
    background-image: url("../assets/img/backTablet1.png"); }
    .seccionRecomendacionesDelMes .containerCard1 {
      width: 20rem; }
  .gridContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 5rem 5rem 5rem 5rem 5rem 5rem;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .gridContainer h2 {
      grid-column: 1 / 5; }
    .gridContainer .img1grid {
      grid-column: 1 / 3;
      grid-row: 2 / 5; }
    .gridContainer .p1 {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
      font-size: .875rem; }
    .gridContainer .img2grid {
      grid-column: 3 / 5;
      grid-row: 4/ 7; }
    .gridContainer .img4grid {
      grid-column: 2/ 3;
      grid-row: 4 / 6; }
    .gridContainer .p2 {
      grid-column: 1 / 3;
      grid-row: 6 / 8;
      font-size: .875rem; }
    .gridContainer .img3grid {
      grid-column: 3 / 4;
      grid-row: 5 / 8; }
  .contenedorProximoDestino {
    background-image: url("../assets/img/backTablett2.png"); }
    .contenedorProximoDestino .articuloCard {
      width: 35rem; }
  .contedorAventura {
    background-image: url("../assets/img/backTablet4.png"); }
    .contedorAventura .cardAventura {
      width: 80%;
      height: 100%; }
  .footer img {
    width: 100%;
    height: 2rem; } }

@media (max-width: 425px) {
  h1 {
    font-size: 1.25rem; }
  h2 {
    font-size: 1.125rem; }
  h3 {
    font-size: 1rem; }
  h4 {
    font-size: 1rem; }
  p {
    font-size: 1rem; }
  .header img {
    height: 2.5rem; }
  .gridContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .gridContainer h2 {
      grid-column: 1 / 3;
      font-size: 1.25rem; }
    .gridContainer .img1grid {
      grid-column: 1 / 2;
      grid-row: 2 / 4; }
    .gridContainer .p1 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: .75rem; }
    .gridContainer .img2grid {
      grid-column: 2/ 3;
      grid-row: 3/ 6; }
    .gridContainer .img4grid {
      grid-column: 1/ 2;
      grid-row: 5/ 7; }
    .gridContainer .p2 {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
      font-size: .75rem; }
    .gridContainer .img3grid {
      grid-column: 2/3;
      grid-row: 7/ 9; }
  .contenedorProximoDestino .articuloCard {
    width: 20rem;
    height: 100%;
    border-radius: 0.75rem;
    text-align: left;
    padding: 1rem;
    margin-block: margin;
    line-height: 2rem; } }
