.bodyForm{
    background-image:url("../assets/img/back5.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    @include paragraph;
    .form{
        background-color: map-get($colores, color2);
        width: 90%;
        max-width: 25rem;
        padding:1rem 2rem;
        border-radius: .625rem;
        margin: 2rem;
        text-align: center;
        h3{
            margin-bottom: 1rem;
        }
        .formContainer{
            margin-top: 2rem;
            display: grid;
            gap: 2rem;
            .formGroup{
                position: relative;
                input{
                    width: 100%;
                    padding: .5rem;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    
}
