$colores:(
    color1:#AB5835,
    color2:#9E6003,
    color3:#116D5D,
    color4:#376C16,
    color5:#0C0C0C,
    color6:#FFFFFF,
);
$tamanoFuente:(
    ti1:1.5rem,
    ti2:1.375rem,
    ti3:1.25rem,
    ti4:1.125rem,
    pa:1rem,
);

