@media (max-width:1024px){
    .seccionTituloUno{
        word-spacing:2rem;
    }
    .containerCard1 {
        width: 15rem;
    }
    .seccionDatoDeLaSemana .div2 div{
        width: 25rem;
    }

    .footer img {
        width: 100%;
        height: 2.5rem;
    }
    
}

